html {
    background-color: grey;
}

.row {
    display: flex;
    justify-content: center;
    margin: 0 center;
}

.column {
    padding: 50px;
    border-radius: 5px;
    background-color: lightgray;
}




input {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 20px;
  padding: 0 10px 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 95px;
}

input:hover {
  background-color: #f7fafa;
}

input:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}